/*****************************/
/* HEADER SECTION */
/*****************************/

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fef3f6;

  /* As we scroll down it stays sticky */
  height: 9.6rem;
  padding: 0 4.8rem;
  /* position: relative; */
}
.sticky .header {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.97);
  z-index: 99;
  height: 8rem;
  padding-top: 0;
  padding-bottom: 0;
  box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.03);
}

.sticky .section-hero {
  margin-top: 9.6rem;
}

.logo {
  height: 5.2rem;
}
/*****************************/
/* Navigation SECTION */
/*****************************/

.main-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 4.8rem;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: #333;
  font-weight: 600;
  font-size: 1.8rem;

  transition: all 0.3s;
}

.main-nav-link:active,
.main-nav-link:hover {
  color: #c26f80;
}

.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited {
  padding: 1.2rem 2.4rem;
  border-radius: 9px;
  background-color: #f38ba0;
  color: #fff;
}

.main-nav-link.nav-cta:hover,
.main-nav-link.nav-cta:active {
  background-color: #c26f80;
}

.btn-mobile-nav {
  border: none;
  background: none;
  cursor: pointer;
  display: none;
  z-index: 9999;
}
.icon-mobile-nav {
  height: 3.2rem;
  width: 3.2rem;
  color: #333;
}
.icon-mobile-nav[name="close-outline"] {
  display: none;
}
/*****************************/
/* HERO SECTION */
/*****************************/
.section-hero {
  background-color: #fef3f6;
  padding: 10.8rem 0 19.6rem 0;
}
.hero {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 130rem;
  margin: 0 auto;
  padding: 0 3.2rem;
  align-items: center;
  gap: 8.6rem;
}
.hero-text-box {
  /* display: inline-block ; */
  /* padding: 21rem 0; */
}
.hero-img {
  width: 100%;
  /* transform: translate(2%, 0); */
}

.btn--full:link,
.btn--full:visited {
  background-color: #f38ba0;
  color: #fff;
}

.btn--full:hover,
.btn--full:active {
  background-color: #db7d90;
}

.btn--outline:link,
.btn--outline:visited {
  background-color: #fff;
  color: #555;
}

.btn--outline:hover,
.btn--outline:active {
  background-color: #fef3f6;

  /* Adding border using box shadow */
  box-shadow: inset 0 0 0 3px #fff;
}

/* Delivered section in Hero */
.delivered-meals {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-top: 5rem;
}
.delivered-img {
  display: flex;
}
.delivered-img img {
  height: 4.4rem;
  border-radius: 50%;
  margin-left: -2rem;
  border: 3px solid #fff;
}

.delivered-text {
  font-weight: 700;
  font-size: 2rem;
}

.delivered-text span {
  color: #c26f80;
}
/*****************************/
/* FEATURED IN SECTION */
/*****************************/

.section-featured {
  padding: 4.8rem 0 3.2rem 0;
}

.heading-featured-in {
  font-size: 1.6rem;
  letter-spacing: 0.75px;
  text-transform: uppercase;
  font-weight: 600;
  text-align: center;
  margin-bottom: 2.4rem;
  color: #888;
}

.logos {
  height: 3.5rem;
  display: flex;
  justify-content: space-around;
  opacity: 50%;
  filter: brightness(0);
}

/*****************************/
/* HOW IT WORKS SECTION */
/*****************************/

.section-how {
  padding: 9.6rem 0;
}

.step-img {
  width: 35%;
}
.step-number {
  font-size: 8.6rem;
  font-weight: 600;
  color: #ddd;
  margin-bottom: 1.6rem;
}

.step-img-box {
  /* height: 200px; */
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.step-img-box::before,
.step-img-box::after {
  content: "";
  display: block;
  position: absolute;
  border-radius: 50%;
}

.step-img-box::before {
  width: 60%;
  /* height: 60%; */
  padding-bottom: 60%;
  background-color: #fef3f6;

  z-index: -2;
}

.step-img-box::after {
  width: 45%;
  padding-bottom: 45%;
  background-color: #fde8ec;
  z-index: -1;
}

.step-img {
  transition: transform 0.4s;
}

.step-img:hover {
  transform: scale(1.2);
}

/*****************************/
/* MEALS SECTION */
/*****************************/

.section-meals {
  padding: 9.6rem 0;
}

.meals {
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
  border-radius: 11px;
  overflow: hidden;
  transition: all 0.4s;
}

.meals:hover {
  transform: translateY(-1.2rem);
  box-shadow: 0 3.4rem 6.8rem rgba(0, 0, 0, 0.06);
}

.meal-content {
  padding: 2rem 4.8rem 4.8rem 4.8rem;
}
.meal-img {
  width: 100%;
}

.meal-tags {
  padding: 0.8rem;
  /* margin: 0.25rem 0 1.2rem 0; */
  display: flex;
  gap: 0.5rem;
}

.tag {
  display: inline-block;
  font-size: 1.2rem;
  color: #333;
  padding: 0.4rem 0.8rem;
  border-radius: 100px;
  font-weight: 500;
}

.tag--vegetarian {
  background-color: #40c057;
}
.tag--vegan {
  background-color: #94d82d;
}
.tag--paleo {
  background-color: #ffd43b;
}

.meal-title {
  font-size: 2.4rem;
  color: #333;
  font-weight: 600;
  margin-bottom: 3.2rem;
}
.meal-attributes {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.meal-attribute {
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.meal-icon {
  font-size: 2.4rem;
  color: #db7d90;
}

.lists {
  list-style: none;
}

.all-recipes {
  text-align: center;
  font-size: 1.6rem;
}

/*****************************/
/* TESTIMONIALS SECTION */
/*****************************/
.section-testimonials {
  background-color: #fef3f6;
  display: grid;
  grid-template-columns: 55fr 45fr;
  align-items: center;
}

.testimonials-container {
  padding: 9.6rem;
}

.testimonials.grid.grid--2--cols {
  row-gap: 4.6rem;
  column-gap: 8rem;
}

.testimonials-img {
  width: 6.4rem;
  border-radius: 50%;
  margin-bottom: 1.2rem;
}
.testimonials-text {
  margin-bottom: 1.6rem;
  color: #6f6f6f;
}

.testimonials-name {
  font-size: 1.4rem;
  color: #777;
}

.heading-secondary.testimonials {
  font-size: 4.2rem;
}

.gallery.grid.grid--3--cols {
  gap: 1.6rem;
  padding: 1.6rem;
}
.gallery-item {
  overflow: hidden;
}

.gallery-item img {
  width: 100%;
  display: block;
  transition: all 0.4s;
}

.gallery-item img:hover {
  transform: scale(1.1);
}

/*****************************/
/* PRICING SECTION */
/*****************************/

.section-pricing {
  padding: 9.6rem 0;
}
.plan-header {
  text-align: center;
  margin-bottom: 4.8rem;
}
.price-plan {
  border-radius: 11px;
  padding: 4.8rem;
  width: 75%;
}

.pricing-plan-starter {
  justify-self: right;
  display: flex;
  flex-direction: column;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.04);
}
.signup-button-starter {
  justify-content: end;
}

.price-plan-complete {
  background-color: #fef3f6;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.05);

  position: relative;
  overflow: hidden;
}
.price-plan-complete::after {
  content: "Best value";
  text-transform: uppercase;
  background-color: #ff8787;
  color: #333;
  padding: 0.8rem 3.2rem;
  font-size: 1.4rem;
  font-weight: 500;

  position: absolute;
  top: 5%;
  right: -8%;
  transform: rotate(45deg);
}
.plan-name {
  font-size: 1.8rem;
  font-weight: 600;
  color: #c26f80;
  text-transform: uppercase;
  letter-spacing: 0.75;
  margin-bottom: 2.2rem;
}
.plan-price {
  font-size: 6.2rem;
  font-weight: 600;
  color: #333;
  margin-bottom: 1.6rem;
}

.plan-price span {
  font-size: 3rem;
  font-weight: 500;
  margin-right: 0.8rem;
}

.plan-text {
  font-size: 1.6rem;
  font-weight: 1.6;
  font-weight: 400;
  /* margin-bottom: 1.6rem; */
  color: #6f6f6f;
}

.signup-button {
  margin-top: 4.8rem;
  text-align: center;
}

.feature-icon {
  color: #f38ba0;
  height: 3.4rem;
  width: 3.4rem;
  background-color: #fef3f6;
  margin-bottom: 3.4rem;
  padding: 1.6rem;
  border-radius: 50%;
}
.feature-title {
  font-size: 2.4rem;
  font-weight: 700;
  color: #333;
  margin-bottom: 1.6rem;
}

.price-text {
  font-size: 1.6rem;
  line-height: 1.6;
  text-align: center;
}

/*****************************/
/* CTA SECTION */
/*****************************/

.section-cta {
  padding: 4.8rem 0 12.8rem 0;
}

.cta {
  display: grid;
  grid-template-columns: 2fr 1fr;
  background-color: #f38ba0;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.15);
  background-image: linear-gradient(to left bottom, #f5a2b3, #db7d90);

  border-radius: 11px;
  overflow: hidden;
}

.cta-text-box {
  padding: 4.8rem 6.4rem 6.4rem 6.4rem;
  color: #492a30;
}

.cta .heading-secondary {
  color: #492a30;
  margin-bottom: 3.2rem;
}

.cta-img-box {
  background-image: linear-gradient(
      to left bottom,
      hsla(348, 81%, 80%, 0.374),
      hsla(348, 57%, 67%, 0.383)
    ),
    url("../img/eating.jpg");
  background-size: cover;
  background-position: center;
}
.cta-text {
  margin-bottom: 4.8rem;
}

.cta-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 3.2rem;
  row-gap: 2.4rem;
}

.cta-form label {
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  margin-bottom: 1.2rem;
}

.cta-form input,
.cta-form select {
  width: 100%;
  padding: 0.6rem;
  font-size: 1.8rem;
  font-family: inherit;
  color: inherit;
  border: none;
  border-radius: 11px;
  background-color: #fde8ec;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.cta-form input::placeholder {
  color: #aaa;
}

/*****************************/
/* FOOTER SECTION */
/*****************************/

.footer {
  padding: 12.8rem 0;
  border-top: 1px solid #eee;
}

.grid--footer {
  grid-template-columns: 1.5fr 1.5fr 1fr 1fr 1fr;
}

.footer-heading {
  font-size: 1.8rem;
  margin-bottom: 4rem;
  font-weight: 500;
}

.contacts {
  font-size: 1.5rem;
  line-height: 1.5;
  font-style: normal;
}

.address {
  margin-bottom: 2.4rem;
}

.nav-col {
  color: #767575;
}

.footer-nav {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  list-style: none;
}

.footer-nav-list:link,
.footer-nav-list:visited {
  font-size: 1.5rem;
  text-decoration: none;
  color: #767575;
  transition: all 0.3s;
}

.footer-nav-list:active,
.footer-nav-list:hover {
  color: #333;
}

.social-links {
  display: flex;
  gap: 2.4rem;
  list-style: none;
}

.footer-logo {
  display: block;
  margin-bottom: 2.2rem;
}

.social-logo {
  font-size: 2.4rem;
}

.logo-col {
  display: flex;
  flex-direction: column;
}
.copyright {
  font-size: 1.2rem;
  line-height: 1.4;
  color: #767575;
  margin-top: auto;
}
